@model List<RestaurantDeliveryOnline.Application.Restaurants.GetAllRestaurantsQueryResult>
<section class="main-block light-bg">
    <div class="container-fluid">
        <div class="row">
            @if (ViewBag.Restaurants != null)
            {
                @foreach (var item in ViewBag.Restaurants)
                {
                    <div class="col-md-4 featured-responsive" asp-route-Id="@item.Id">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="images/featured1.jpg" class="img-fluid" alt="#">
                                <span class="featured-rating-orange">6.5</span>
                                <div class="featured-title-box">
                                    <h6>@item.Name</h6>
                                    <p>Restaurant </p>
                                    <p>3 Reviews</p> <span> • </span>
                                    <p><span>$$$</span>$$</p>
                                    <p>@item.Description</p>
                                    <div class="bottom-icons">
                                        <div class="closed-now">Menue</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                }
            }


        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a href="#" class="btn btn-danger">VIEW ALL</a>
                </div>
            </div>
        </div>
    </div>
</section>

